<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="../../js/vue/vue-resource.min.js"></script>
    <link rel="stylesheet" href="../../css/home/home.css">
    <script src="../../js/home/home.js"></script>
</head>
<body>
    <div id="right">

        <div id="chart1" class="echart_div">

        </div>
        <div id="chart2" class="echart_div">

        </div>
    </div>
</body>
<!--顺序很重要-->
<script src="../../js/home/echarts.js"></script>
<script src="../../js/vue/vue.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../../js/vue/vue-resource.min.js"></script>
<script src="../../js/vue/vue-router.js"></script>
<script src="../../js/home/jQuery.js"></script>

<script>
    var vmright =new Vue({
        el:'#right',
        data:{

        },
        methods:{
            fechart1:function () {
                var myChart = echarts.init(document.getElementById('chart1'));
                var option = {
                    title: {
                        text: '2018年工作完成状况'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['款数','图片张数']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['6月','7月','8月','9月','10月','11月','12月']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'款数',
                            type:'line',
                            stack: '总量',
                            data:[26, 49, 77, 76, 80, 49, 72]
                        },
                        {
                            name:'图片张数',
                            type:'line',
                            stack: '总量',
                            data:[99, 160, 370, 379, 372, 208.5, 322]
                        },

                    ]
                };
                ;
                myChart.setOption(option);
            },
            fechart2:function () {
                var myChart = echarts.init(document.getElementById('chart2'));
                option = {
                    xAxis: {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [820, 932, 901, 934, 1290, 1330, 1320],
                        type: 'line'
                    }]
                };
                myChart.setOption(option);
            }
        }
    })
    vmright.fechart1();
    vmright.fechart2();
</script>
</html>